.container {
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #B3B3B3;
  padding: 2.5%;
  height: 8vh;
}

.logo {
  font-size: 2vw;
  font-weight: bold;
  padding-left: 6%;
}

.search {
  display: flex;
  align-items: center;
  width: 70%;
  height: 100%;
  margin-left: 18%;
  -webkit-tap-highlight-color: transparent;
}

input:focus {
  outline:none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 500px #fff inset !important;
}

#search-bar {
  border: 1px solid #000;
  border-radius: 8px;
  font-size: 15px;
  padding-left: 15px;
  width: 70%;
  height: 80%;
  margin-right: 5px;
}

.search-icon {
  display: flex;
  width: 3.5%;
  height: 30%;
  margin-left: -43px;
  align-items: center;
}

.mypost {
  display: flex;
  align-items: center;
  padding-right: 6%;
  font-weight: 500;
  font-size: 1.2vw;
  white-space: nowrap;
}

span {
  color : #B3B3B3;
}

#face-icon {
  display: flex;
}

.type {
  display: flex;
  color: #000;
  width: 20%;
  height: 30%;
}