.container {
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #B3B3B3;
  padding: 2%;
  height: 8vh;
}

.logo {
  font-size: 2vw;
  font-weight: bold;
  padding-left: 6%;
}

.search {
  display: flex;
  align-items: center;
  width: 70%;
  height: 100%;
  margin-left: 18%;
  -webkit-tap-highlight-color: transparent;
}

input:focus {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 500px #fff inset !important;
}

#search-bar {
  border: 1px solid #000;
  border-radius: 8px;
  font-size: 15px;
  padding-left: 15px;
  width: 70%;
  height: 80%;
  margin-right: 5px;
  cursor: pointer;
}

.search-icon {
  display: flex;
  width: 3.5%;
  height: 30%;
  margin-left: -43px;
  align-items: center;
  cursor: pointer;
}

.mypost {
  display: flex;
  align-items: center;
  padding-right: 6%;
  font-weight: 500;
  font-size: 1.2vw;
  white-space: nowrap;
  cursor: pointer;
}

span {
  color: #B3B3B3;
}

#face-icon {
  display: flex;
}

.type {
  display: flex;
  padding-top: 1.5%;
  width: 80%;
  padding-left: 15%;
}

#date,
#fame,
#follow {
  display: flex;
  padding-top: 3%;
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
}

.new {
  display: flex;
  color: #fff;
  background-color: #1F8BFF;
  font-weight: bold;
  font-size: 20px;
  border: none;
  width: 10%;
  height: 3%;
  padding: 1.5%;
  margin-top: 1%;
  margin-left: 30%;
  border-radius: 8px;
  white-space: nowrap;
  cursor: pointer;
}

.type-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5%;
  cursor: pointer;
}

.underline {
  width: 150%;
  height: 1.5%;
  background-color: #000;
  margin-top: 1%;
}

.line {
  width: 63.5%;
  height: 1%;
  margin-top: 3%;
  margin-left: 18.1%;
  margin-bottom: 2%;
  border: 1px solid #000;
  background-color: #000;
}

.styled-table {
  width: 65%;
  margin: 1% 0;
  padding: 1%;
  margin-left: 17.1%;
  font-size: 18px;
  text-align: left;
  border-collapse: collapse; 
}

.styled-table th,
.styled-table td {
  padding: 2% 1.3%;
  border: none; 
  white-space: nowrap;
}

.styled-table tbody tr {
  border-bottom: 1px solid #999;
}

.author-column,
.date-column {
  color: #999;
}