.main-container {
    width: 100%;
    font-family: 'Pretendard', sans-serif;
}

.new-post-button {
    display: flex;
    color: #fff;
    justify-content: center;
    text-align: center;
    background-color: #1F8BFF;
    font-weight: 600;
    font-size: 24px;
    border: none;
    width: 9%;
    padding-top: 1.1%;
    padding-bottom: 1.1%;
    margin-top: -4%;
    margin-left: 75.3%;
    border-radius: 8px;
    white-space: nowrap;
    cursor: pointer;
    
}

.post-table {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 20px;
}

.post-table th, .post-table td {
    padding: 1.8%;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.post-table th {
    font-weight: bold;
    text-align: center;
    color: #333;
    font-size: 24px;
}

.line {
    width: 68%;
    height: 1%;
    margin-top: 3%;
    margin-left: 16.2%;
    border: 1px solid #000;
    background-color: #000;
}