.post-container {
    font-family: 'Pretendard', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
}

.my-post {
    display: flex;
    align-items: center;
    padding-right: 8.5%;
    font-weight: 500;
    font-size: 1.2vw;
    white-space: nowrap;
    cursor: pointer;
}

.my-post span {
    color: #B3B3B3;
}

.post-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}

.title-show {
    width: 100%;
    height: 40px;
    border: none;
    font-size: 28px;
    background: transparent;
}

.title-show:read-only {
    background: transparent;
}

.textarea {
    width: 100%;
    height: 300px;
    font-size: 18px;
    border: none;
    resize: none;
    outline: none;
}

.comment-textarea {
    width: 96.5%;
    height: 200px;
    margin-top: 4%;
    padding: 20px 0.5%;
    background-color: #f0f0f0;
    border-radius: 12px;
    font-size: 18px;
    border: 1px solid #E6E6E6;
    padding-left: 3%;
    resize: none;
    outline: none;
}

.comment-textarea::placeholder {
    color: #666; 
}

.divider {
    width: 100%;
    border: 0.6px solid #000;
    margin: 20px 0;
}

.author-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 18px;
    padding-left: 5%;
    width: 100%;
    margin: 30px 0;
}

.author-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.author-image {
    margin-right: 6%;
    width: 10%;
    height: 4%;
    border-radius: 50%;
}

.follow-button {
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    padding: 6%;
    width: 70%;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1.5px);
}

.modal-content {
    background-color: white;
    width: 28%;
    height: 30%;
    padding: 5%;
    border-radius: 8px;
    text-align: center;
}

.modal-text {
    padding: 2%;
    margin-bottom: 18%;
    font-size: 24px;
    font-weight: 600;
}

.button {
    padding: 1%;
    border: none;
    cursor: pointer;
}

.edit-button {
    width: 14%;
    font-size: 22px;
    padding: 1%;
    margin-top: 3%;
    border-radius: 8px;
    color: #fff;
    border: none;
    background-color: #999;
}

.delete-button {
    margin-left: 2%;
    margin-top: 3%;
    padding: 1%;
    width: 14%;
    border: none;
    font-size: 22px;
    border-radius: 8px;
    color: #fff;
    background-color: #FF1F1F; 
}

.modal-delete-button {
    width: 30%; 
    margin-left: 2%;
    padding: 3%;
    font-size: 16px;
    border-radius: 5px;
    color: #fff; 
    border: none;
    background-color: #FF1F1F;
    margin-top: 3%;
}

.cancel-button {
    width: 30%;
    padding: 3%;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #999;
    color: #fff;
}

.main-title {
    margin-top: -6%;
}

#comm {
    text-align: center;
}

#small {
    font-weight: bold;
    font-size: 20px;
}

#heart {
    width: 80%;
    height: 70%;
}

.comment-input {
    display: flex;
    width: 58%;
    height: 300px;
    margin-left: 20%;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    font-size: 20px;
    color: #666;
    padding: 1.2%; 
    border-radius: 5px; 
    margin-top: 1.3%;
    
}

#textarea {
    margin-bottom: 20%;
}

.comment-input textarea {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 24px;
    border: none;
    resize: none;
    outline: none;
    background-color: transparent;
}

.add-comment-button {
    display: flex;
    margin-left: 74.5%;
    margin-top: 1.2%;
    padding: 1%;
    font-weight: 400;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #1F8BFF;
}