.post-container {
    font-family: 'Pretendard', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
}

.my-post {
    display: flex;
    align-items: center;
    padding-right: 8.5%;
    font-weight: 500;
    font-size: 1.2vw;
    white-space: nowrap;
    cursor: pointer;
}

.my-post span {
    color: #B3B3B3;
}

.post-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}

.title-show {
    width: 160%;
    height: 40px;
    border: none;
    outline: none; 
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 28px;
    background: transparent;
}

.black-line {
    border-bottom: 0.5px solid #000; 
    width: 100.5%;
}

.title-show:read-only {
    background: transparent;
}

.textarea {
    width: 100%;
    height: 300px;
    padding-top: 3%;
    padding-left: 1%;
    font-size: 18px;
    border: none;
    resize: none;
    outline: none;
}

.comment-textarea::placeholder {
    color: #666; 
}

.divider {
    background-color: #F2F2F2;
    border-radius: 8px;
    width: 100%;
    margin-top: 10%;
}

.author-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 18px;
    padding-left: 5%;
    width: 100%;
    margin: 30px 0;
}

#postwrite {
    display: flex;
    font-size: 24px;
    margin-right: -800%;
    padding: 10%;
}

.author-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 3%;
}

.author-image {
    display: flex;
    margin-right: 10%;
    width: 7%;
    height: 4%;
    border-radius: 50%;
}

.follow-button {
    background-color: #000;
    color: #fff;
    padding: 10%;
    width: 160%;
    margin-right: -800%;
    margin-top: -30%;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1.5px);
}

.modal-content {
    background-color: white;
    width: 28%;
    height: 25%;
    padding: 5%;
    border-radius: 8px;
    text-align: center;
}

.modal-text {
    margin-bottom: 15%;
    font-size: 32px;
    font-weight: 600;
    padding-top: -5%;
}

.edit-button {
    width: 14%;
    font-size: 24px;
    padding: 1%;
    border-radius: 8px;
    color: #fff;
    border: none;
    background-color: #999;
}

.delete-button {
    margin-left: 2%;
    padding: 1%;
    width: 14%;
    border: none;
    font-size: 24px;
    border-radius: 8px;
    color: #fff;
    background-color: #FF1F1F; 
}

.modal-delete-button {
    width: 30%; 
    margin-left: 2%;
    padding: 3%;
    font-size: 24px;
    border-radius: 5px;
    color: #fff; 
    border: none;
    background-color: #FF1F1F;
    margin-top: -10%;
}

.cancel-button {
    width: 30%;
    padding: 3%;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    background-color: #999;
    color: #fff;
}

.main-title {
    margin-top: -6%;
}

#comm {
    text-align: center;
    margin-right: -50%;
    margin-top: 4%;
    margin-bottom: 4%;
}

#small {
    font-weight: bold;
    font-size: 20px;
}

#heart {
    width: 80%;
    height: 70%;
}

.comment-input {
    display: flex;
    width: 58%;
    height: 300px;
    margin-left: 20%;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    font-size: 20px;
    color: #666;
    padding: 1.2%; 
    border-radius: 5px; 
    margin-top: 1.3%;
}

#textarea {
    margin-bottom: 20%;
}

.comment-input textarea {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 24px;
    border: none;
    resize: none;
    outline: none;
    background-color: transparent;
}

.add-comment-button {
    display: flex;
    margin-left: 76%;
    margin-top: 1.2%;
    padding: 0.8%;
    font-weight: 400;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #B3B3B3;
    cursor: pointer;
}

.add-comment-button:hover {
    background-color: #1F8BFF;
    cursor: pointer;
}

.close-comment-button {
    display: flex;
    margin-left: 71.5%;
    margin-top: -3%;
    padding: 0.8%;
    font-weight: 400;
    font-size: 20px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

#comment {
    display: flex;
    text-align: left;
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
    font-size: 24px;
    border: none;
    border-bottom: 1px solid #000;
    resize: none;
}

#comment:focus {
    outline: none;
}

.comments-list {
    margin-top: 20px;
    padding: 10px;
}

.comment-item {
    font-size: 24px;
    margin-left: 20%;
    margin-top: -2%;
    padding-bottom: 3%;
}

.no-comments {
    padding: 3%;
    color: #B3B3B3;
    text-align: center;
    font-size: 40px;
}